<% if @treats.size > 0 %>
<h4>Неиспользованные награды</h4>
<table class="table table-striped">
  <tbody>
  <% @treats.each do |treat| %> 
      <% if treat.impulsetreattype %>
      <tr>
        <td><img src="<%= asset_path("sweets_"+treat.icon+".png") %>" width="50" ></td>      
        <td>
         <%= treat.impulsetreattype.title %><br>
         <small><%= treat.impulsetreattype.small ? "Мелкое" : "Большое"  %></small>
      </td>
      <td>
          <%= with_new_lines treat.impulsetreattype.description %>
         <% if treat.impulsetreattype.url!=nil %> 
            <br><small><%= link_to treat.impulsetreattype.url, treat.impulsetreattype.url, id: treat.id.to_s, :target => "_blank"  %></small>
          <% end %>
      </td>
      <td>
        <%= link_to "Съесть", eatit_treat_path(treat), :method => "post", remote: true, :class => 'btn btn-large btn-primary', onclick: "document.getElementById('"+ treat.id.to_s + "').click()" %>
      </td>
      </tr>
      <% else %>
        <tr><td><p><strong><%= treat.id %></strong></p></td></tr>
      <% end %>
  <% end %>
 </tbody>
</table>
<% end %>
