
<h3>Логин</h3>

<br><br>

<%= form_tag sessions_path do %>
  <p>
    <span style="color:white">E-mail</span>    <br />
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <span style="color:white">Пароль</span> <br />
    <%= password_field_tag :password %>
  </p>
  <br><br>
  <p class="button"><%= submit_tag "Войти", :class => 'btn btn-large btn-primary' %></p>
<% end %>

<br><br>
<br><br>
<br><br>
<br><br>

<span style="color:white">
  Здравствуйте. Вас приветствует NoDelay - сервис для борьбы с прокрастинацией.
  <br><br>
  Если вы еще не зарегистрированы, то перейдите в раздел:</span> <%= link_to "Регистрация", "sign_up" %>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
