<h4>Добавить задание</h4>
<%= form_for(@task) do |f| %>  
    Проект: <%= f.collection_select :project_id, @projects, :id, :name %><br>
    <%= f.text_field :object, placeholder: "Объект" %>
    Приоритет (1..3): <%= f.number_field :grade, placeholder: "Приоритет (1..3)" %><br>
    <%= f.text_field :action, placeholder: "Действие" %>
    <%= f.check_box :actual %> Актуальное<br>
    <%= f.text_area :description, placeholder: "Описание", :size => '70x2' %><br>
    <%= f.check_box :calendarity %> Календарное, дата: <%= f.datetime_select :dt, { :default => DateTime.now, :use_month_names => ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"], :order => [:day, :month, :year, :hour, :minute] } %><br><br>
    <%= f.submit "Добавить", :class => 'btn btn-large btn-primary' %> 
<% end %> 
