<% if @tasks.size > 0 %>
<% is_root = (request.env['PATH_INFO'] == root_path) %>
  <table class="table table-striped">
  <tbody>
  <% @tasks.each do |tsk| %> 
    <tr>
      <td><% if tsk.calendarity %>
         <%= tsk.dt.strftime("%d.%m.%y %H:%M") %>  
      <% end %></td>
      <td><%= link_to tsk.object, edit_task_path(tsk) %></td>
      <td><% if(tsk.project.name == "Links") %>
              <%= link_to tsk.action, ext_link(tsk.action) %>
          <%else%>
              <%= tsk.action %><%end%></td>
      <td><%= if tsk.tasktip
                tsk.tasktip.name
              end  %></td>
      <% if(@showproject) %> 
        <td><%= link_to tsk.project.name, edit_project_path(tsk.project) %></td>
      <% end %>
      <td><% if(tsk.actual) %>
 <%= button_to("Отложить", delay_task_path(tsk), :method => "post", remote: is_root, :class => 'btn btn-large btn-primary') %>
      <% else %>
<%= button_to("В актуальные", undelay_task_path(tsk), :method => "post", remote: is_root, :class => 'btn btn-large btn-primary') %>
       <% end %></td>
      <td><% if(tsk.done) %>
 <%= button_to("Вернуть", undone_task_path(tsk), :method => "post", remote: is_root, :class => 'btn btn-large btn-primary') %>
      <% else %>
<%= button_to("Завершить", itsdone_task_path(tsk), :method => "post", remote: is_root, :class => 'btn btn-large btn-primary') %>
       <% end %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% else %>  
  <em> Список пуст. </em>
<% end %>
