<h3>Задание</h3>

<br>

<img src="<%= asset_path("monsters_"+@task.icon+".png") %>" width="111">

<br>
<br>

<%= form_for @task do |f| %>

  <p>
    <strong>Проект</strong><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <strong>Задание</strong><br />
    <%= f.text_area :description, :size => "60x5" %>
  </p>
  <p>
    <strong>Сложность (1..10)</strong><br>
    <%= f.number_field :grade %>
  </p>
  <p>
      <%= f.check_box :actual %> <strong>Актуальное</strong>
  </p>
  <p>
      <%= f.check_box :calendarity %> <strong>Календарное, дата: </strong>
      <%= f.datetime_select :dt, { :default => DateTime.now, :use_month_names => ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"], :order => [:day, :month, :year, :hour, :minute] } %>
  </p>

  <br><br>
  <p class="button"><%= f.submit "Записать", :class => 'btn btn-large btn-primary' %></p>
<% end %>
<br>
<br>
<%= link_to "Удалить",  @task,  method: :delete, data: { confirm: "Вы серьезно?" }, :class => 'btn btn-mini btn-danger'  %> </td>

<br>
<br>
<br>
<br>

<%= link_to "Отмена", root_path, :method => "get", :class => 'btn btn-mini btn-danger' %> 
