<h3>Задание</h3>

<br><br>

<%= form_for @task do |f| %>

  <p>
    <strong>Проект</strong><br>
    <%= f.collection_select :project_id, @projects, :id, :name, prompt: true %><br>
  </p>
  <p>
    <strong>Объект</strong><br>
    <%= f.text_field :object %>
  </p>
  <p>
    <strong>Действие</strong><br />
    <%= f.text_area :action, :size => "60x5" %>
  </p>
  <p>
    <strong>Приоритет (1..3)</strong><br>
    <%= f.number_field :grade %>
  </p>
  <p>
      <%= f.check_box :actual %> <strong>Актуальное</strong>
  </p>
  <p>
      <%= f.check_box :calendarity %> <strong>Календарное, дата: </strong>
      <%= f.datetime_select :dt, { :default => DateTime.now, :use_month_names => ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"], :order => [:day, :month, :year, :hour, :minute] } %>
  </p>

  <br><br>
  <p class="button"><%= f.submit "Записать", :class => 'btn btn-large btn-primary' %></p>
<% end %>
<br>
<br>
<%= link_to "Удалить",  @task,  method: :delete, data: { confirm: "Вы серьезно?" }, :class => 'btn btn-mini btn-danger'  %> </td>

<br>
<br>

<%= link_to "Отмена", :back, :method => "get", :class => 'btn btn-mini btn-danger' %> 

<br>
<br>
<br>
<br>


<% if @tags.size > 0 %>
<h4>Тэги</h4>
<table class="table table-striped">
  <tbody>
  <% @tags.each do |tag| %> 
    <tr>
      <td><%= tag.name %></td>  
      <td><%= link_to "Удалить", tag,  method: :delete, :class => 'btn btn-mini btn-danger'  %> </td>
    </tr>
  <% end %>
 </tbody>
</table>
<% end %>

<br>

<p><strong>Добавить тэг</strong></p>
<%= form_for([@task, @task.tags.build]) do |f| %>  
    <%= f.text_field :name, placeholder: "Новый тэг" %>
    <%= f.submit "Добавить", :class => 'btn btn-large btn-primary' %> 
<% end %>       
