<div id="impulses_table">
  <%= render "impulses/impulses_list" %>
</div>

<p><strong>Новый импульс</strong></p>

<% if current_user.impulsetreattypes.where(erased: false).size > 0 %>  
  <%= form_for([current_user, current_user.impulses.build], remote: true) do |f| %>  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :description, placeholder: "Необязательное описание", :size => '70x2'%><br>
  <%= f.collection_select :impulsetreattype_id, @impulsetypes, :id, :title %>
  <%= f.submit "Записать", :class => 'btn btn-large btn-primary' %> 
  <% end %>   
<% else %>   
  <em>Для записи импульсов вам сначала нужно создать их <%= link_to "типы", impulsetreattypes_path %>!</em>  
<% end %>   

<br>
<br>
<br>

<div id="treats_table">
  <%= render "treats/treats_list" %>
</div>

<br>
<br>

<div id="tasks_table">
  <%= render "tasks_list" %>
</div>

<p><strong>Добавить задание</strong></p>
<%= form_for([current_user, current_user.tasks.build], remote: true) do |f| %>  
    <%= f.text_field :title, placeholder: "Проект" %>
    Сложность (1..10): <%= f.number_field :grade, placeholder: "Сложность (1..10)" %>
    <%= f.check_box :actual %> Актуальное<br>
    <%= f.text_area :description, placeholder: "Задание", :size => '70x2' %><br>
    <%= f.submit "Добавить", :class => 'btn btn-large btn-primary' %> 
<% end %>       

<br>
<br>


