<h4>Новый импульс</h4>
<%= form_for([current_user, current_user.impulses.build], remote: true) do |f| %>  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :description, placeholder: "Необязательное описание", :size => '70x2'%><br>
  <%= f.collection_select :impulsetreattype_id, @impulsetypes, :id, :title %>
  <%= f.submit "Записать", :class => 'btn btn-large btn-primary' %> 
<% end %>   

<br>
<br>
<br>

<div id="treats_table">
  <%= render "treats/treats_list" %>
</div>

<br>
<br>

<div id="tasks_table">
  <%= render "tasks_list" %>
</div>

<p><strong>Добавить задание</strong></p>
<%= form_for([current_user, current_user.tasks.build], remote: true) do |f| %>  
    <%= f.text_field :title, placeholder: "Заглавие" %>
    <%= f.text_field :grade, placeholder: "Сложность (1..10)" %><br>
    <%= f.text_area :description, placeholder: "Описание", :size => '70x2' %><br>
    <%= f.submit "Добавить", :class => 'btn btn-large btn-primary' %> 
<% end %>       



