<h3>Помощь</h3>

<br>
<br>

<p>Как у Вас с прокрастинацией? Это когда не можешь работать, всё время отвлекаешься, откладываешь работу на потом. NoDelay поможет вам превратить вашу лень в полезную энергию.</p>
<p>Все очень просто. Вы заполняете список своих врагов - причин отвлечься. И каждый раз, когда такой импульс приходит к вам в голову, вы регистрируете его на сайте. Сайт сам решает можно ли вам поддаться искушению либо проигнорировать его. Кроме того, вы набираете очки выполняя задания, на которые потом можно купить награду - выполнение импульсов.</p>

<br>

<h4>Термины</h4>

<p><strong>Импульс</strong> - это то, что вас отвлекает. Надо ввести в начале несколько мелких импульсов типа "проверить facebook", "почитать новости". Каждый раз, когда вам хочется отвлечься, зарегистрируйте импульс в системе. Вы получите 1 балл и возможно выпадет награда - разрешение этот ипульс реализовать (использовать).</p>

<br><br>
<img src="<%= asset_path("sweets_01.png") %>" width="70" >
<img src="<%= asset_path("sweets_04.png") %>" width="70" >
<img src="<%= asset_path("sweets_05.png") %>" width="70" >
<img src="<%= asset_path("sweets_08.png") %>" width="70" >
<img src="<%= asset_path("sweets_10.png") %>" width="70" ><br><br>
<p><strong>Награда</strong> - При регистрации импульса случайным образом разыгрывается возможность этот ипульс реализовать. Такая возможность выпадает в виде награды. Награда представлена сладостью.</p>

<p><strong>Большая награда</strong> - иногда надо себя баловать. Например: посетить тот классный ресторан, сходить на массаж, в театр, на концерт.</p>
<p>Есть возможность купить награду при наличии достаточного количества баллов (50 за маленькую и 150 за большую).</p>

<br><br>
<img src="<%= asset_path("monsters_006.png") %>" width="90" >
<img src="<%= asset_path("monsters_030.png") %>" width="90" >
<img src="<%= asset_path("monsters_061.png") %>" width="90" >
<img src="<%= asset_path("monsters_081.png") %>" width="90" >
<img src="<%= asset_path("monsters_110.png") %>" width="90" ><br><br>
<p><strong>Задание</strong> - то, что Вам нужно сделать. Сами выбираете сложность каждого и именно столько баллов вы получите за его выполнение. Представлен монстром, которого нужно победить.</p>

<br>
<%= link_to "Подробнее про этот метод", tldr_path %> 
<br>
<br>
<br>

<h4>Социальность</h4>

<p>На сайте предусмотрены социальные функции. Вы можете подписываться на ваших знакомых в разделе
 	<% if current_user %>
	   <%= link_to "Пользователи", users_path %>
	<% else %>
	  "Пользователи"
	<% end %>
  чтобы следить за их прогрессом и писать комментраии в профайле других пользователей.</p>

<br>
<br>
<br>