<h4>Помощь</h4>

<br>
<br>

<p>Как у Вас как с прокрастинацией? Это когда не можешь работать, всё время отвлекаешься, откладываешь работу на потом. Idler поможет вам превратить вашу лень в полезную энергию.</p>

<p>Основные используемые термины:</p>

<p><strong>Импульс</strong> - это то, что вас отвлекает. Надо ввести в начале несколько мелких импульсов типа "проверить facebook", "почитать новости". Каждый раз, когда вам хочется отвлечься, зарегистрируйте импульс в системе. Вы получите 1 балл и возможно выпадет награда - разрешение этот ипульс релизовать (использовать).</p>

<br><br>
<img src="<%= asset_path("sweets_01.png") %>" width="70" >
<img src="<%= asset_path("sweets_04.png") %>" width="70" >
<img src="<%= asset_path("sweets_05.png") %>" width="70" >
<img src="<%= asset_path("sweets_08.png") %>" width="70" >
<img src="<%= asset_path("sweets_10.png") %>" width="70" ><br>
<p><strong>Награда</strong> - При регистрации импульса случайным образом разыгрывается возможность этот ипульс реализовать. Такая возможность выпадает в виде награды. Награда представлена сладостью.</p>

<p><strong>Большая награда</strong> - иногда себя надо поощрять большими штуками. Например: посетить тот классный ресторан, сходить на массаж, в театр, на концерт.</p>
<br><br>
<img src="<%= asset_path("monsters_006.png") %>" width="90" >
<img src="<%= asset_path("monsters_030.png") %>" width="90" >
<img src="<%= asset_path("monsters_061.png") %>" width="90" >
<img src="<%= asset_path("monsters_081.png") %>" width="90" >
<img src="<%= asset_path("monsters_110.png") %>" width="90" ><br>
<p><strong>Задание</strong> - то, что Вам нужно сделать. Сами выбираете сложность каждого и именно столько баллов вы получите за его выполнение. Здесь представлен монстром, которого нужно победить.</p>

<p>Есть возможность купить реализацию импульса при наличии достаточного количества баллов (50 за маленькое и 150 за большое).</p>
<br>
<br>
<br>
<br>
<%= link_to "Подробнее -->", tldr_path, :method => "get", :class => 'btn btn-primary' %> 
