<h3>Имя: <%= @user.name %></h3>
<h4>С нами с <%= @user.created_at.strftime("%d.%m.%Y") %></h4>

<br>

<% if @user == current_user %>
      <%= button_to("Изменить данные", edit_user_path(@user), :method => "get",  :class => 'btn btn-primary') %>
<%else%>       
  <%= @fr = current_user.friendships.where('friend_id = ?', @user.id).first
         if @fr
  link_to "Отписаться", byebye_friendship_path(id: @fr.id, from: "prof", who: @user.id), remote: true, method: "post", :class => 'btn btn-mini btn-danger'
    else
  link_to "Подписаться", wellhello_friendship_path(id: @user.id, from: "prof", who: @user.id), remote: true, method: "post",:class => 'btn btn-primary' 
        end %>
<%end%> 


<br /><br />

<h4>Подписан на</h4>
<% if @user.friendships.size > 0 %>
<table class="table table-striped">
<tbody>
  <% for friendship in @user.friendships %>
    <% if friendship.friend %>
    <tr>
      <td><strong><%= if friendship.friend.name 
          link_to friendship.friend.name, friendship.friend 
          else
          link_to friendship.friend.email, friendship.friend 
          end
        %></strong></td>
      <td><%if friendship.friend != current_user %>
      <%= @fr = current_user.friendships.where('friend_id = ?', friendship.friend.id).first
         if @fr
link_to "Отписаться", byebye_friendship_path(id: @fr.id, from: "prof", who: @user.id), remote: true, method: "post", :class => 'btn btn-mini btn-danger'          
    else
link_to "Подписаться", wellhello_friendship_path(id: friendship.friend.id, from: "prof", who: @user.id), remote: true, method: "post",:class => 'btn btn-primary' 
        end %>
    <%end%></td>  
   </tr>  
  <% end %>
 <% end %>  
</tbody>
</table>
<% else %>
  <em>Пусто...</em><br /><br />
<% end %>

<% if @user == current_user %>
  <h4><%= link_to "Найти пользователя", users_path, :class => 'btn btn-primary' %></h4>
<% end %>

<br />

<h4>Подписчики</h4>
<% if @user.inverse_friends.size > 0 %>
<table class="table table-striped">
<tbody>
  <% for user in @user.inverse_friends %>
    <tr>
      <td><strong><%= link_to user.name, user %></strong></td>
      <td><%if user != current_user %>
      <%= @fr = current_user.friendships.where('friend_id = ?', user.id).first
         if @fr
link_to "Отписаться", byebye_friendship_path(id: @fr.id, from: "prof", who: @user.id), remote: true, method: "post", :class => 'btn btn-mini btn-danger'          
    else
link_to "Подписаться", wellhello_friendship_path(id: user.id, from: "prof", who: @user.id), remote: true, method: "post",:class => 'btn btn-primary' 
        end %>
     <%end%> </td>        
    </tr>       
  <% end %>
</tbody>
</table>
<% else %>
  <em>Пусто...</em><br /><br />
<% end %>

