<h3>Вы</h3>

<%= form_for @user do |f| %>

  <p>
    Имя:<br>
    <%= f.text_field :name %>
  </p>
  <p>
    Емейл/логин<br />
    <%= f.text_field :email %>
  </p>
  <p>
    Пароль:<br />
    <%= f.password_field :password %>
  </p>
  <p>
    Еще раз пароль:<br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    Шанс на награду за импульс (1..10)<br>
    <%= f.text_field :randchance %>
  </p>
  <br>  
  <p class="button"><%= f.submit "Записать", :class => 'btn btn-large btn-primary' %></p>
<% end %>

<br>
<br>

<%= link_to "Отмена", current_user, :method => "get", :class => 'btn btn-mini btn-danger' %> 
