<% if @user == current_user %>
         <h4>Вы</h4>
<% end %>

<div id ="prof_details">
  <%= render 'profile_part' %>
</div>

<br>  
<br>
<br>


<h4>Комментарии</h4>
<br>
    <%= form_for([@user, @user.given_comments.build], remote: true) do |f| %>  
    <%= f.text_area :comment, placeholder: "Текст комментария", :size => "50x2" %><br />
    <%= f.hidden_field :user_id, :value => @user.id %>  <%= f.hidden_field :commenter_id, :value => @current_user.id %>
      <%= f.submit "Отправить", :class => 'btn btn-primary' %>
<% end %>
<br />

<div id ="wallochka">
  <%= render 'comments_part' %>
</div>

<br>
<br>
