<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Добавить проект</h4>
      </div>
      <div class="modal-body">

<%= form_for([current_user, current_user.projects.build]) do |f| %>
    <%= f.text_field :name, placeholder: "Название" %>
    Тип: <%= f.collection_select :projecttip_id, Projecttip.all, :id, :name, {}, {class: "form-control"} %><br>
    <%= f.text_area :description, placeholder: "Описание", :size => '70x2' %><br>
    <%= f.check_box :hideincalend %> Прятать в календаре<br><br>
    <%= f.submit "Добавить", :class => 'btn btn-large btn-primary' %>
<% end %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
