<h4>Список наград/импульсов</h4>
<table class="table table-striped">
  <tbody>
  <% @imptts.each do |imptt| %> 
    <tr><td>
      <strong><%= link_to imptt.title, edit_impulsetreattype_path(imptt) %></strong>
        <br><small><%= imptt.url==nil ? "" : imptt.url  %></small>
    </td>
  <td><%= with_new_lines imptt.description %></td>
  <td><strong><%= imptt.small ? "Мелкое" : "Большое"  %></strong>
        <br><%= link_to "[ Удалить ]", kill_impulsetreattype_path(imptt), :method => "post", remote: true, data: { confirm: "Вы серьезно?" }  %>  </td>
   
   <td><% if imptt.small %>
      <%= link_to "Купить (50)", buy_impulsetreattype_path(imptt), :class => 'btn btn-large btn-primary', :disabled => current_user.score<49 %>
      <% else %>
      <%= link_to "Купить (150)", buy_impulsetreattype_path(imptt), :class => 'btn btn-large btn-primary', :disabled => current_user.score<149  %>
    <% end %></td>

  </tr>
  <% end %>
 </tbody>
</table>
<% if @imptts.size == 0 %>
  <em>Наград нет. Для работы сайта нужно добавить минимум по одной маленькой и большой награде!</em>
<% end %>