<h3>Награда/импульс</h3>

<%= form_for @imp do |f| %>
  <p>
    Заголовок:<br>
    <%= f.text_field :title %>
  </p>
  <p>
    Описание<br />
    <%= f.text_area :description, :size => "50x3" %>
  </p>
  <p>
    Ссылка:<br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.radio_button :small, true, :checked => true %> Мелкая награда/импульс (почитать интернет, поиграть в игру, заглянуть в холодильник)<br>
    <%= f.radio_button :small, false, :checked => false %> Большая награда (посетить тот классный ресторан, сходить на массаж, театр, концерт)
    <%= f.hidden_field :user_id, :value => current_user.id %>
   </p>    
    <br>
  <p class="button"><%= f.submit "Записать", :class => 'btn btn-large btn-primary' %></p>
<% end %>

<br>
<br>
<%= link_to "Удалить", kill_impulsetreattype_path(@imp), :method => "get", data: { confirm: "Вы серьезно?" }, :class => 'btn btn-mini btn-danger'  %>
<br>
<br>
<br>
<br>

<%= link_to "Отмена", root_path, :method => "get", :class => 'btn btn-mini btn-danger' %> 
<br>
<br>
<br>
<br>
