<h4>Добавить награду</h4>
    <%= form_for([current_user, current_user.impulsetreattypes.build]) do |f| %>  
    <%= f.text_field :title, placeholder: "Заглавие" %><br>
    <%= f.text_area :description, placeholder: "Описание", :size => '70x2' %><br>
    <%= f.radio_button :small, true, :checked => true %>Мелкая награда/импульс (почитать интернет, поиграть в игру, заглянуть в холодильник)<br>
    <%= f.radio_button :small, false, :checked => false %>Большая награда (посетить тот классный ресторан, сходить на массаж, театр, концерт)<br>
    <%= f.submit "Добавить", :class => 'btn btn-large btn-primary' %> 
<% end %>       

<br>
<br>

<h4>Список наград/импульсов</h4>
<table class="table table-striped">
  <tbody>
  <% @imptts.each do |imptt| %> 
    <tr><td>
      <strong><%= imptt.title %></strong>
      <% if current_user.admin %>    
        <br><%= link_to "[ Удалить ]", imptt, :method => :delete, data: { confirm: "Вы серьезно?" }  %> 
      <% end %>
    </td>
  <td><%= imptt.description %></td>
  <td><strong><%= imptt.small ? "Мелкое" : "Большое"  %></strong></td>
  </tr>
  <% end %>
 </tbody>
</table>
<% if @imptts.size == 0 %>
  <em>Постов почему-то нет.</em>
<% end %>

<br>
<br>

<%= link_to "На главную -->", root_path, :method => "get", :class => 'btn btn-primary' %> 