<% if @impulses.size > 0 %>
<h4>Свежие импульсы</h4>
<table class="table table-striped">
  <tbody>
  <% @impulses.each do |imp| %> 
    <tr>
      <td><%= imp.created_at.strftime("%d.%m %H:%M") %></td>
      <td><strong><%= imp.impulsetreattype.title %></strong></td>
      <td><%= imp.impulsetreattype.description %></td>
  </tr>
  <% end %>
 </tbody>
</table>
<% else %>
  <em>Импульсов пока не зарегистрировано. Даже странно.</em>
<% end %>

<p><strong>Новый импульс</strong></p>
<%= form_for([current_user, current_user.impulses.build], remote: true) do |f| %>  
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.text_area :description, placeholder: "Необязательное описание", :size => '70x2'%><br>
  <%= f.collection_select :impulsetreattype_id, @impulsetypes, :id, :title %>
  <%= f.submit "Записать", :class => 'btn btn-large btn-primary' %> 
<% end %>   

<br>
<br>
<br>

<% if @treats.size > 0 %>
<h4>Неиспользованные награды</h4>
<table class="table table-striped">
  <tbody>
  <% @treats.each do |treat| %> 
      <% if treat.impulsetreattype %>
      <tr><td>
         <p><strong><%= treat.impulsetreattype.title %></strong></p>
      </td>
      <td>
          <%= with_new_lines treat.impulsetreattype.description %>
      </td>
      <td>
           <%= button_to("Использовать", eatit_treat_path(treat), :method => "post", remote: true, :class => 'btn btn-large btn-primary') %>
      </td>
      </tr>
      <% end %>
  <% end %>
 </tbody>
</table>
<% end %>
