<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Idler</title>

    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->


<!--    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>  -->

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
<!--    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>  -->

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
<!--    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>  -->

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
<!--    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %> -->

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->

<!--     <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>  -->

    <%= favicon_link_tag 'favicon.ico' %>

    <%= javascript_include_tag "application" %>

    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

    
  </head>
  <body>


    <% if @backimage %>
      <STYLE type="text/css">
        BODY { background: url("<%= asset_path('nodoshit.jpg') %>"); 
              background-size: cover;  }
      </STYLE>
    <% end %>


    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Idler</a>



        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to "Главная", root_path  %></li>
            <li><%= link_to "Награды/Импульсы", impulsetreattypes_path  %></li>
            <% if current_user.admin %>
                <li><%= link_to "Админ", "/admin", :target => "_blank"  %></li>
            <% end %>            
            <li><%= link_to "Выйти", "/log_out" %></li>
         <%else%>   
            <li><%= link_to "Войти", "/log_in" %></li>
         <%end%>
          <li><%= link_to "Помощь", wellhello_path  %></li>                     
         </ul>
        </div>


      </div>
    </div>


      <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>


        <% if current_user %>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header"><strong><%= "Пользователь" %></strong></li>
              <li><%= link_to current_user.name, user_path(current_user) %>
              Баллы: <strong><%= current_user.score %></strong></li>
            </ul><br>

              <% taski = Task.where(user_id: current_user.id).where(done: true).order('created_at DESC').limit(7) %>
              <% if taski.size > 0 %>
              <ul class="nav nav-list">
              <li class="nav-header"><strong>Законченные задания</strong></li> 
              <% for task in taski %>
                <li><%= task.title %><% if task.description!="" %>: <i><%= task.description %></i><% end %>, <small><%= task.created_at.strftime("%d.%m %H:%M") %></small>
                </li>
              <% end %>
              </ul><br>
            <% end %>

              <% treati = Treat.joins(:impulse).where('user_id in (?)', current_user.id).order('created_at DESC').limit(7) %>
              <% if treati.size > 0 %>
              <ul class="nav nav-list">
              <li class="nav-header"><strong>Свежие награды</strong></li> 
              <% for treat in treati %>
                <% if treat.impulsetreattype %> 
                  <li><%= treat.impulsetreattype.title %>, <small><%= treat.created_at.strftime("%d.%m %H:%M") %></small>
                  </li>
                  <% end %>
              <% end %>
              </ul><br>
            <% end %>


          </div>
        </div>
      <% end %>

      </div>
        
      <footer>
        <br><br><br>
        <p><small>&copy; Labile Mobile, 2014</small> </p>

       </footer>

    </div> <!-- /container -->

<noindex>
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-7464139-11', 'auto');
  ga('send', 'pageview');
  </script>
</noindex>

  </body>

</html>